{% extends 'blog/base.html' %}
{% block content %}


<h1>My blog</h1>
<h3>Available post{{posts.count|pluralize}}: {{posts.count}}</h3>

<div class="row">
{%for post in posts%}
    <div class="col-6">
        <div class="post">
            <a class="title" href="{% url 'detail' post.id %}">{{post.title}}</a>

    
            <p class="date">{{post.date|date:"d F Y"}}</p>
    
            <p>{{post.text|truncatechars:100}}</p>
        </div>
    

    </div>
{%endfor%}
</div>


{% endblock content %}
    









